In [2]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [3]:
crsp = pd.read_csv(r"D:/python/crsp_monthly.csv")
crsp

,permno,date,ret,prc,shrout,mktrf,smb,hml,rmw,cma,rf,mom,comnam,year,month
0,10000,1986m2,-0.257143,3.250000,3680,7.13,-0.71,-0.77,1.09,-1.24,0.53,2.76,OPTIMUM MANUFACTURING INC,1986,2
1,10000,1986m3,0.365385,4.437500,3680,4.88,-0.65,-0.37,1.18,0.90,0.60,2.41,OPTIMUM MANUFACTURING INC,1986,3
2,10000,1986m4,-0.098592,4.000000,3793,-1.31,2.86,-2.86,2.89,-0.06,0.52,-0.36,OPTIMUM MANUFACTURING INC,1986,4
3,10000,1986m5,-0.222656,3.109375,3793,4.62,-1.29,-0.21,2.15,1.08,0.49,2.05,OPTIMUM MANUFACTURING INC,1986,5
4,10000,1986m6,-0.005025,3.093750,3793,1.03,-0.88,1.30,1.83,0.82,0.52,5.07,OPTIMUM MANUFACTURING INC,1986,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3057775,93436,2021m8,0.070605,735.719971,1001767,2.90,-0.79,-0.13,-0.26,-1.67,0.00,2.52,TESLA INC,2021,8
3057776,93436,2021m9,0.054042,775.479980,1004000,-4.37,1.25,5.09,-1.94,2.08,0.00,1.57,TESLA INC,2021,9
3057777,93436,2021m10,0.436530,1114.000000,1004265,6.65,-2.69,-0.44,1.74,-1.48,0.00,3.21,TESLA INC,2021,10
3057778,93436,2021m11,0.027612,1144.760010,1004265,-1.55,-1.74,-0.53,7.38,1.60,0.00,0.82,TESLA INC,2021,11
3057779,93436,2021m12,-0.076855,1056.780029,1033534,3.10,-0.68,3.23,4.75,4.37,0.01,-2.67,TESLA INC,2021,12

In [4]:
compustat = pd.read_csv(r"D:/python/compustat.csv")
compustat

,permno,fyear,conm,xsga,ceq,ni,cpi,sich,ffind17,ffind48,gdwl,intan,epspx,epspi,gvkey,tic,fyr,act,at,csho,ebit,ppegt,sale,txt,xad,xrd,cik,ipodate
0,10000,1986,OPTIMUM MANUFACTURING -CL A,1.100,0.418,-0.730,0.502663,3942,Consumer Durables,Recreation,0.000,0.252,-0.20,-0.20,13007,OMFGA,10,1.630,2.115,3.843,-0.686,0.328,1.026,0.000,0.113,0.039,NaN,07may1986
1,10001,1986,GAS NATURAL INC,NaN,5.432,0.669,0.502663,4924,Utilities,Utilities,0.000,0.000,0.72,0.72,12994,EGAS,6,2.359,12.242,0.985,1.476,13.021,21.460,0.541,NaN,NaN,43350.0,NaN
2,10001,1987,GAS NATURAL INC,NaN,5.369,0.312,0.521083,4924,Utilities,Utilities,0.000,0.000,0.32,0.32,12994,EGAS,6,1.870,11.771,0.991,0.624,13.466,16.621,0.123,NaN,NaN,43350.0,NaN
3,10001,1988,GAS NATURAL INC,NaN,5.512,0.564,0.542331,4924,Utilities,Utilities,0.000,0.000,0.55,0.57,12994,EGAS,6,1.987,11.735,0.992,0.984,13.661,16.978,0.272,NaN,NaN,43350.0,NaN
4,10001,1989,GAS NATURAL INC,NaN,6.321,1.208,0.568510,4924,Utilities,Utilities,0.000,0.000,1.21,1.21,12994,EGAS,6,3.577,18.565,1.001,2.401,23.476,22.910,0.704,NaN,NaN,43350.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
246547,93436,2017,TESLA INC,3787.573,4237.242,-1961.400,1.124116,3711,Automobiles,Automobiles and Trucks,60.237,421.739,-11.83,-11.83,184996,TSLA,12,6570.520,28655.372,168.797,-1565.086,23168.820,11758.751,31.546,66.500,1378.073,1318605.0,29jun2010
246548,93436,2018,TESLA INC,4294.861,4923.243,-976.091,1.151573,3711,Automobiles,Automobiles and Trucks,68.159,350.651,-5.72,-5.72,184996,TSLA,12,8306.308,29739.614,172.603,-252.840,23343.447,21461.268,57.837,70.000,1473.634,1318605.0,29jun2010
246549,93436,2019,TESLA INC,3989.000,6618.000,-862.000,1.172442,3711,Automobiles,Automobiles and Trucks,198.000,537.000,-4.92,-4.92,184996,TSLA,12,12103.000,34309.000,181.000,80.000,25062.000,24578.000,110.000,27.000,1390.000,1318605.0,29jun2010
246550,93436,2020,TESLA INC,4679.000,22225.000,721.000,1.186905,3711,Automobiles,Automobiles and Trucks,207.000,520.000,0.74,0.74,184996,TSLA,12,26717.000,52148.000,960.000,2184.000,29893.000,31536.000,292.000,NaN,1491.000,1318605.0,29jun2010
246551,93436,2021,TESLA INC,7110.000,30189.000,5519.000,1.242664,3711,Automobiles,Automobiles and Trucks,200.000,1717.000,5.60,5.60,184996,TSLA,12,27100.000,62131.000,1033.000,6496.000,39867.000,53823.000,699.000,NaN,2593.000,1318605.0,29jun2010

In [5]:
crsp1 = crsp
crsp1['date'] = pd.to_datetime(crsp['date'].str.replace('m', '-'), format='%Y-%m').dt.strftime('%Y-%m')
crsp1

,permno,date,ret,prc,shrout,mktrf,smb,hml,rmw,cma,rf,mom,comnam,year,month
0,10000,1986-02,-0.257143,3.250000,3680,7.13,-0.71,-0.77,1.09,-1.24,0.53,2.76,OPTIMUM MANUFACTURING INC,1986,2
1,10000,1986-03,0.365385,4.437500,3680,4.88,-0.65,-0.37,1.18,0.90,0.60,2.41,OPTIMUM MANUFACTURING INC,1986,3
2,10000,1986-04,-0.098592,4.000000,3793,-1.31,2.86,-2.86,2.89,-0.06,0.52,-0.36,OPTIMUM MANUFACTURING INC,1986,4
3,10000,1986-05,-0.222656,3.109375,3793,4.62,-1.29,-0.21,2.15,1.08,0.49,2.05,OPTIMUM MANUFACTURING INC,1986,5
4,10000,1986-06,-0.005025,3.093750,3793,1.03,-0.88,1.30,1.83,0.82,0.52,5.07,OPTIMUM MANUFACTURING INC,1986,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3057775,93436,2021-08,0.070605,735.719971,1001767,2.90,-0.79,-0.13,-0.26,-1.67,0.00,2.52,TESLA INC,2021,8
3057776,93436,2021-09,0.054042,775.479980,1004000,-4.37,1.25,5.09,-1.94,2.08,0.00,1.57,TESLA INC,2021,9
3057777,93436,2021-10,0.436530,1114.000000,1004265,6.65,-2.69,-0.44,1.74,-1.48,0.00,3.21,TESLA INC,2021,10
3057778,93436,2021-11,0.027612,1144.760010,1004265,-1.55,-1.74,-0.53,7.38,1.60,0.00,0.82,TESLA INC,2021,11
3057779,93436,2021-12,-0.076855,1056.780029,1033534,3.10,-0.68,3.23,4.75,4.37,0.01,-2.67,TESLA INC,2021,12

In [6]:
industries17 = pd.DataFrame()

#Sort out the industries 
compustat_industries17 = compustat['ffind17'].unique()
industries17_list = sorted(compustat_industries17)
industries17 = pd.DataFrame(industries17_list, columns=['17 industries'])

#Find the number of unique permno in each industries 
industry17_permno = compustat.groupby('ffind17')['permno'].nunique()
industry17 = pd.DataFrame(industry17_permno).reset_index()
industry17.columns = ['17 industries', 'Number of permno']

industry17

                                       17 industries  Number of permno
0                                        Automobiles               317
1   Banks, Insurance Companies, and Other Financials              4454
2                                          Chemicals               362
3            Construction and Construction Materials               877
4                                  Consumer Durables               785
5                       Drugs, Soap, Prfums, Tobacco               730
6                                Fabricated Products               245
7                                               Food               687
8                   Machinery and Business Equipment              2844
9                                Mining and Minerals               241
10                        Oil and Petroleum Products              1109
11                                             Other              8536
12                                     Retail Stores              1507
13                                   Steel Works Etc               281
14                      Textiles, Apparel & Footware               502
15                                    Transportation               754
16                                         Utilities               351

In [8]:
industries48 = pd.DataFrame()

compustat_industries48 = compustat['ffind48'].unique()
industries48_list = sorted(compustat_industries48)
industries48 = pd.DataFrame(industries48_list, columns=['48 industries'])

#Find the number of unique permno in each industries 
industry48_permno = compustat.groupby('ffind48')['permno'].nunique()
industry48 = pd.DataFrame(industry48_permno).reset_index()
industry48.columns = ['48 industries', 'Number of permno']

industry48

                               48 industries  Number of permno
0                                Agriculture                99
1                                   Aircraft               102
2                             Almost Nothing               456
3                                    Apparel               328
4                     Automobiles and Trucks               315
5                                    Banking              2297
6                              Beer & Liquor                71
7                          Business Services              3097
8                          Business Supplies               238
9                               Candy & Soda                49
10                                 Chemicals               353
11                                      Coal                59
12                             Communication               721
13                                 Computers              1054
14                              Construction               339
15                    Construction Materials               502
16                            Consumer Goods               414
17                                   Defense                45
18                      Electrical Equipment               338
19                      Electronic Equipment              1130
20                             Entertainment               504
21                       Fabricated Products               114
22                             Food Products               394
23                                Healthcare               531
24                                 Insurance               589
25                                 Machinery               741
26           Measuring and Control Equipment               450
27                         Medical Equipment               771
28  Non-Metallic and Industrial Metal Mining                78
29                         Personal Services               289
30                 Petroleum and Natural Gas              1064
31                   Pharmaceutical Products              1206
32                           Precious Metals                71
33                   Printing and Publishing               206
34                               Real Estate               377
35                                Recreation               257
36               Restaraunts, Hotels, Motels               498
37                                    Retail              1281
38               Rubber and Plastic Products               246
39          Shipbuilding, Railroad Equipment                48
40                       Shipping Containers                71
41                           Steel Works Etc               281
42                                  Textiles               158
43                          Tobacco Products                21
44                                   Trading              1320
45                            Transportation               530
46                                 Utilities               351
47                                 Wholesale              1097

In [10]:
#We look for the missing values
missing_values = compustat['xsga'].isnull().sum()

#We replace missing values in xsga column with 0
compustat['xsga'] = compustat['xsga'].fillna(0)

# Same inspection for the cpi column because we need those values for the computation of INT
missing_values_cpi = compustat['cpi'].isnull().sum()
print(f'The number of missing values in cpi is {missing_values_cpi}.')

The number of missing values in cpi is 0.

In [11]:
compustat_INT = compustat[['permno', 'fyear','conm','xsga','cpi']]
compustat_INT

        permno  fyear                          conm      xsga       cpi
0        10000   1986  OPTIMUM MANUFACTURING  -CL A     1.100  0.502663
1        10001   1986               GAS NATURAL INC     0.000  0.502663
2        10001   1987               GAS NATURAL INC     0.000  0.521083
3        10001   1988               GAS NATURAL INC     0.000  0.542331
4        10001   1989               GAS NATURAL INC     0.000  0.568510
...        ...    ...                           ...       ...       ...
246547   93436   2017                     TESLA INC  3787.573  1.124116
246548   93436   2018                     TESLA INC  4294.861  1.151573
246549   93436   2019                     TESLA INC  3989.000  1.172442
246550   93436   2020                     TESLA INC  4679.000  1.186905
246551   93436   2021                     TESLA INC  7110.000  1.242664

[246552 rows x 5 columns]

In [24]:
compustat_INT.loc[:, 'SGA_1'] = 0

for i, idx in enumerate(compustat_INT.index):
    if i > 0 and compustat_INT.loc[idx, 'permno'] != compustat_INT.loc[compustat_INT.index[i-1], 'permno']:
        compustat_INT.loc[idx, 'SGA_1'] = compustat_INT.loc[idx, 'xsga']

#We assign the corresponding xsga value for the first permno 10000
compustat_INT.loc[0, 'SGA_1'] = compustat_INT.loc[0, 'xsga']

In [25]:
print(compustat_INT.dtypes)

permno      int64
fyear       int64
conm       object
xsga      float64
cpi       float64
SGA_1     float64
dtype: object

In [26]:
delta_0 = 0.15
g = 0.10
compustat_INT.loc[:, 'INT_0'] = compustat_INT['SGA_1'] / (g + delta_0)
compustat_INT

C:\Users\wzw94\AppData\Local\Temp\ipykernel_26184\2241338668.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compustat_INT.loc[:, 'INT_0'] = compustat_INT['SGA_1'] / (g + delta_0)

,permno,fyear,conm,xsga,cpi,SGA_1,INT_0
0,10000,1986,OPTIMUM MANUFACTURING -CL A,1.100,0.502663,1.1,4.4
1,10001,1986,GAS NATURAL INC,0.000,0.502663,0.0,0.0
2,10001,1987,GAS NATURAL INC,0.000,0.521083,0.0,0.0
3,10001,1988,GAS NATURAL INC,0.000,0.542331,0.0,0.0
4,10001,1989,GAS NATURAL INC,0.000,0.568510,0.0,0.0
...,...,...,...,...,...,...,...
246548,93436,2018,TESLA INC,4294.861,1.151573,0.0,0.0
246549,93436,2019,TESLA INC,3989.000,1.172442,0.0,0.0
246550,93436,2020,TESLA INC,4679.000,1.186905,0.0,0.0
246551,93436,2021,TESLA INC,7110.000,1.242664,0.0,0.0
SGA_1,0,0,0,0.000,0.000000,0.0,0.0

In [27]:
delta_INT = delta_0

#We create a new column for the stock of INT that takes the initial values we computed
compustat_INT.loc[:, 'INT'] = compustat_INT.loc[:, 'INT_0']

#We initialize the first value of the column 'INT'
compustat_INT.loc[0, 'INT'] = compustat_INT.loc[0, 'INT_0']

#We group by 'permno'
for permno, group_indices in compustat_INT.groupby('permno').groups.items():
    #And we compute the INT for each row in each 'permno' group
    for i in range(1, len(group_indices)):
        if compustat_INT.loc[group_indices[i], 'INT'] == 0:
           compustat_INT.loc[group_indices[i], 'INT'] = (1 - delta_INT) * compustat_INT.loc[group_indices[i-1], 'INT'] + compustat_INT.loc[group_indices[i], 'xsga'] / compustat_INT.loc[group_indices[i], 'cpi']

compustat_INT

C:\Users\wzw94\AppData\Local\Temp\ipykernel_26184\2733555277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  compustat_INT.loc[:, 'INT'] = compustat_INT.loc[:, 'INT_0']

,permno,fyear,conm,xsga,cpi,SGA_1,INT_0,INT
0,10000,1986,OPTIMUM MANUFACTURING -CL A,1.100,0.502663,1.1,4.4,4.400000
1,10001,1986,GAS NATURAL INC,0.000,0.502663,0.0,0.0,0.000000
2,10001,1987,GAS NATURAL INC,0.000,0.521083,0.0,0.0,0.000000
3,10001,1988,GAS NATURAL INC,0.000,0.542331,0.0,0.0,0.000000
4,10001,1989,GAS NATURAL INC,0.000,0.568510,0.0,0.0,0.000000
...,...,...,...,...,...,...,...,...
246548,93436,2018,TESLA INC,4294.861,1.151573,0.0,0.0,10165.262313
246549,93436,2019,TESLA INC,3989.000,1.172442,0.0,0.0,12042.773595
246550,93436,2020,TESLA INC,4679.000,1.186905,0.0,0.0,14178.543272
246551,93436,2021,TESLA INC,7110.000,1.242664,0.0,0.0,17773.339947
SGA_1,0,0,0,0.000,0.000000,0.0,0.0,0.000000

In [28]:
#Compute the number of unique permno values
number_of_permno = compustat_INT['permno'].nunique()

print(f'The number of unique values in permno is {number_of_permno}.')

The number of unique values in permno is 22307.

In [29]:
#Compute the number of unique year values
number_of_year = compustat_INT['fyear'].nunique()

print(f'The number of unique values in permno is {number_of_year}.')

The number of unique values in permno is 53.

In [30]:
relevant_indus = ['Chemicals', 'Drugs, Soap, Prfums, Tobacco', 'Retail Stores', 'Banks, Insurance Companies, and Other Financials']
compustat_indus = compustat[compustat['ffind17'].isin(relevant_indus)]

# We reindex the columns from 0
compustat_indus = compustat_indus.reset_index(drop=True)

In [31]:
compustat_indus

,permno,fyear,conm,xsga,ceq,ni,cpi,sich,ffind17,ffind48,gdwl,intan,epspx,epspi,gvkey,tic,fyr,act,at,csho,ebit,ppegt,sale,txt,xad,xrd,cik,ipodate
0,10002,1993,BANCTRUST FINANCIAL GRP INC,4.638,24.158,3.391,0.662484,6020,"Banks, Insurance Companies, and Other Financials",Banking,0.0,0.000,0.79,1.13,19049,BTFG,12,NaN,218.704,2.999,5.640,NaN,15.842,1.263,0.000,NaN,783739.0,NaN
1,10002,1994,BANCTRUST FINANCIAL GRP INC,5.381,26.104,2.782,0.679758,6020,"Banks, Insurance Companies, and Other Financials",Banking,0.0,0.000,0.93,0.93,19049,BTFG,12,NaN,218.506,2.999,6.202,NaN,17.482,1.237,0.247,NaN,783739.0,NaN
2,10002,1995,BANCTRUST FINANCIAL GRP INC,5.931,28.797,3.007,0.698828,6020,"Banks, Insurance Companies, and Other Financials",Banking,0.0,0.000,1.00,1.00,19049,BTFG,12,NaN,244.949,3.002,6.111,NaN,20.338,1.410,0.222,NaN,783739.0,NaN
3,10002,1996,BANCTRUST FINANCIAL GRP INC,6.549,47.088,3.354,0.719312,6020,"Banks, Insurance Companies, and Other Financials",Banking,0.0,4.160,1.05,1.05,19049,BTFG,12,NaN,350.077,4.227,6.499,NaN,22.426,1.486,0.130,NaN,783739.0,NaN
4,10002,1997,BANCTRUST FINANCIAL GRP INC,7.882,45.462,4.728,0.736128,6020,"Banks, Insurance Companies, and Other Financials",Banking,0.0,3.993,1.12,1.12,19049,BTFG,12,NaN,369.595,4.246,8.580,NaN,28.998,1.770,0.168,NaN,783739.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72730,93432,2010,JIANGBO PHARMACEUTICALS INC,21.221,134.517,29.850,1.000000,2834,"Drugs, Soap, Prfums, Tobacco",Pharmaceutical Products,0.0,32.594,2.69,2.69,108753,JGBO,6,156.351,202.340,11.702,48.215,16.377,97.444,12.897,5.566,4.4,1091164.0,NaN
72731,93433,2015,VOLTARI CORP,4.790,-37.674,-6.622,1.086957,6512,"Banks, Insurance Companies, and Other Financials",Real Estate,0.0,0.000,-1.40,-1.60,184994,VLTC,12,NaN,6.004,8.995,-4.935,4.414,0.049,0.000,NaN,NaN,1568319.0,18jun2010
72732,93433,2016,VOLTARI CORP,0.000,-47.696,-3.111,1.100670,6512,"Banks, Insurance Companies, and Other Financials",Real Estate,0.0,0.000,-1.11,-1.11,184994,VLTC,12,NaN,7.250,8.995,-2.805,6.800,0.262,0.000,NaN,NaN,1568319.0,18jun2010
72733,93433,2017,VOLTARI CORP,0.000,-57.201,-1.902,1.124116,6512,"Banks, Insurance Companies, and Other Financials",Real Estate,0.0,0.394,-1.06,-1.06,184994,VLTC,12,NaN,6.648,8.995,-1.699,6.170,0.322,0.000,NaN,NaN,1568319.0,18jun2010
72734,93433,2018,VOLTARI CORP,0.000,-67.146,-1.526,1.151573,6512,"Banks, Insurance Companies, and Other Financials",Real Estate,0.0,1.283,-1.11,-1.11,184994,VLTC,12,NaN,23.494,8.995,-0.953,22.062,1.554,0.002,NaN,NaN,1568319.0,18jun2010